html, body {
  margin: 0;
  padding: 0;
  background: #151515;
  color: white;
  position: relative
}
.title {
  display: flex;
  color: white;
  justify-content: space-around;
}

.main {
  color: white;
  z-index: 1;
  position: fixed;
  margin-left: 35%;
  margin-top: 500px;

}

h1 {
  color: white;
}

.alert {
  padding: 15px;
  margin-left: 19%;
  margin-right: 19%;
  margin-bottom: 20px;
  background-color: #ff9723;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.saveButton {
  color: white;
  z-index: 1;
  position: fixed;
  margin-left: 75%;
  margin-top: 600px;

}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
